proto/build/*.o
proto/build/*.d
proto/build/*.a
proto/build/*.pb.h
proto/build/*.pb.cc

handle/build/*.o
handle/build/*.d
handle/build/*.a

build/*.o
build/*.d
build/*.a
/build/ant

ant

libjson/
protobuf-2.6.1/

tags
*.swp
